* {
  margin: 0;
  padding: 0;
}

/***styling navbar****/
.navbar {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: flex-end;
}

a {
  color: #fff;

  margin-left: 15px;
}
/****product container****/
.productDetail_container {
  width: 80%;
  margin: auto;
}
