* {
  margin: 0;
  padding: 0;
}

.input_field {
  position: relative;
}
.icon_eye {
  position: absolute;
  top: 10px;
  left: 270px;
}
.main_row {
  width: 70%;
  margin: 4% auto 1%;
}

.latestProduct_heading {
  text-transform: capitalize;
  margin-left: 5%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: -15px;
}
.arrow {
  margin: 0px;
  position: absolute;
  top: -9px;
  left: 0px;
  transform: translate(109px, 0px);
}
.arrow:before,
.arrow:after {
  width: 1rem;
  height: 0.5rem;
  position: absolute;
  display: block;
  content: "";
  border-color: transparent; /* border-color: red;*/
  border-style: solid;

  left: 22px;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: #fff;
  border-width: 0 0.5rem 0.5rem;

  /*border-bottom-color: yellow;*/
}
.arrow:after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: #f4f6f6;
}
.arrow:before {
  top: 0;
  border-width: 0 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.favText_container {
  cursor: pointer;
}

.detail_box {
  position: relative;

  display: block;
  color: green;
  font-size: 16px;
  width: 300px;
  margin-left: -100px;
  float: left;
  border: 1px solid #c3c4c4;
  background-color: #f4f6f6;
  padding: 14px 18px;
  text-align: left;
  box-shadow: 4px 10px 10px 0px rgba(211, 208, 208, 0.75);
}
.main_card {
  background-color: #fff;
}
.home_page {
  background-color: #f4f6f6;
}
.login {
  text-decoration: none;
  margin-right: 30px;
  color: black;

  background-color: #f4f6f6;
  padding: 5px;
  width: 90px;
  text-align: center;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  /* margin-top: 10px; */
}
.login_container {
  width: 20%;
  margin: auto;
  transform: translate(9%, 30%);
}
.signup-form {
  padding: 20px;
  border: 1px solid #c3c4c4;
}
.signup-form h2 {
  padding: 10px;
}
.brandName {
  text-align: center;
}
.brandName::first-letter {
  font-size: 200%;
  color: #007bff;
}
.form-group input {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}
.form-group label {
  padding-top: 5px;
  margin-top: 10px;
}
.favbtn_container .btnlayout {
  padding: 4px;
}
/***styling navbar****/

a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}
.navbar-collapse {
  flex-basis: 100%;

  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.dropdown-item {
  display: block;
  width: 80% !important;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.navbar-nav a {
  text-decoration: none;
}

.btn-block {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  transition: background-color 2s;
}

.btn-block:hover {
  background-color: #e9a908;
  border-color: #a88734 #9c7e31 #846a29;

  color: black;
}
/*****home page***/
.select_main {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  margin-top: 2px;
}
.select_option {
  margin-right: 5%;
}
select {
  padding: 5px;
}

.card-component {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 1% auto;

  align-items: center;
  justify-content: center;
}

.card_container {
  width: 18rem;
  height: 540px;
  border-bottom: 4px solid #eaeded;
}
.text_container {
  padding: 10px;
  text-transform: capitalize;
}
.product_price {
  color: #b12704;
  font-size: 20px;
  margin-bottom: 0;
}
.product_seller {
  margin-bottom: 0;
}
.product_link {
  color: #0f1111 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.product_link:hover {
  text-decoration: none;
  color: #b12704 !important;
}
.img_container {
  width: 100%;
  height: 300px;
}
.img_box {
  width: 90%;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousal {
  display: flex;
  flex-direction: column;

  overflow-y: hidden;
}
.carousel-inner {
  position: relative;
  width: 100%;
  margin: 2% auto;

  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.carousalImage-container {
  width: 95%;
  height: fixed;
  margin: auto;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  top: 40px;
  z-index: 10;
  padding-top: 20px;

  margin-left: 5%;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.addProduct_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.product_input {
  margin-top: 10px;
}
.product_input input {
  width: 100%;
  padding: 5px;
  text-transform: capitalize;
}
.Product_container {
  width: 90%;
  margin: 10px auto;
}

/****profile page*****/
/****profile page*****/
/****profile page*****/
.profile {
  background-color: #f1f3f6;
}
.profile_box {
  padding: 10px;
  width: 80%;

  margin: auto;
}

.profile_container {
  margin: 20px;
  background-color: #fff;
  padding: 28px;
}
.profile_icon {
  margin: 20px;
  background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
  background-color: #fff;
  color: #fff;
  box-shadow: 0 4px 8px -4px rgb(0 0 0 / 10%);
}
.profie-text_container {
  margin-top: 10px;
  padding: 10px;
}
.profie-text_container p {
  margin-right: 5px;
}
.profile_list {
  color: black;
  padding: 0;
}
.profile_image {
  padding-top: 10px;
  margin-left: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
.profile_information {
  padding: 10px;
}
.profile_information p {
  margin-top: 12px;
}
.profilebtn {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 10px;
}
.buttonProfile {
  background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
  color: #fff;
  padding: 10px;
  width: 17%;
  border: none;
}
.buttonProfile:hover {
  background: black;
}

.edit_btns {
  margin-bottom: 20px;
}

.saveBtn {
  margin-right: 20px;
  border-radius: 0;
  width: 171px;
  border: none;
  background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
}
.cancelBtn {
  border-radius: 0;
  border: none;
  background: black;
  width: 171px;
}
/**product detail page**/
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1350px;
}
.productDetail_container {
  text-transform: capitalize;
  margin: 20px;
}
.products_heading {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.quantityContainer {
  display: flex;
}

.selectBox {
  word-wrap: normal;
  background-color: #eaeded;
  border-radius: 5px;
  margin-left: 10px;
  width: 70px;
}

.second_row {
  margin-bottom: 5%;
  margin-top: 10%;
}

.postBtn a {
  text-decoration: none;
  color: #fff;
}
.ShowMoreContent {
  width: 100%;
}
.ShowLessContent {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
/**************favourite page***************/
/**************favourite page***************/
/**************favourite page***************/
.fav_inner {
  width: 70%;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #eaeded;
}

.fav_container {
  margin-top: 20px;
}
.favImage-container {
  width: 100%;
}
.favImage {
  width: 60%;
}
.favText_container h2 {
  font-size: 16px;
}
.favitem_container {
  padding: 10px;
  border-bottom: 1px solid #eaeded;
}
.dropdown {
  font-size: 16px;
}
/****cart item*****/
.cart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #ddd;
  padding: 20px;
  color: #007185;
}
.cartscreen_info {
  background-color: #fff;
  width: 70%;
  font-size: 18px;
  line-height: 24px;
  margin: 20px;
  padding: 20px;
}

.cart_image {
  width: 180px;
  height: 200px;
}
.cartitem {
  display: flex;
  flex-direction: column;
}
.cartitem_deleteBtn {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cartitem_deleteBtn:hover {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: #ecdbb3;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.logInbtn {
  margin-top: 10px;
  display: inline-block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  background-color: #06468b;
  border: 1px solid #007bff;
  padding: 0.385rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  border-radius: 0.25rem;

  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.signup-form {
  padding: 20px;
  border: 1px solid #c3c4c4;
  width: 90%;
  margin: auto;
}
.Signup-form {
  padding: 20px;
  border: 1px solid #c3c4c4;
  width: 30%;
  margin: auto;
}
.register_form {
  margin-top: 10%;
}
.logInbtn:hover {
  background-color: #007bff;
}
.proccedTocart {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  margin-top: 20px;
}
.proccedTocart:hover {
  border: 1px solid transparent;
  color: #111;
}
.card-wrapper {
  margin: 20px;
}

/**review**/
.reviews_screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 0.5px solid #6c757d75;
  font-size: 14px;
}

.comment_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.icon {
  display: flex;
  margin-bottom: 5px;
  cursor: pointer;
}

.categoryForm {
  margin: 10% auto;
  width: 50%;
}
.related_products {
  display: flex;
}
.relatedProduct_container {
  margin: 5px;
}
.Carousal_container {
  width: 100%;
  margin: auto;
}

.product_image {
  width: 600px;
  height: 600px;
  cursor: pointer;
}
.modal-dialog {
  max-width: 800px !important;
  margin: 1.75rem auto;
}
.zoom_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}
.Zoom-btn {
  display: flex;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(50%, 50%);
}
.close_icon {
  float: right;
  margin: 20px;
  cursor: pointer;
}
.carousel-indicators {
  display: none;
}
.Zoom_image {
  width: 400px;
}
.card_container:hover {
  box-shadow: 1px 5px 5px 0px rgba(139, 139, 139, 0.75);
}
.options {
  border-color: #d5d9d9;
  border-radius: 8px;
  color: #0f1111;
  background: #fafdfd;
  height: 30px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 1px 5px 5px 0px rgba(139, 139, 139, 0.75);
}
.options:focus {
  border-color: #d5d9d9;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  /****login****/
  .login_container {
    width: 80%;

    margin: auto;
    transform: translate(1%, 20%);
  }
  .card-wrapper {
    margin: 2px;
  }

  .brandName {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .signup-form h2 {
    padding: 2px;
  }
  .signup-form h2 {
    font-size: 20px;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 10px;
  }
  .form-group label {
    padding-top: 2px;
    margin-top: 5px;
  }
  .logInbtn {
    margin-top: 10px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: #007bff;
    border: 1px solid #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    border-radius: 0.25rem;
  }
  /*****navbar****/
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 12px !important;
    /* margin-top: 10px; */
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 10px;
    font-size: 18px !important;
    line-height: inherit;
    white-space: nowrap;
  }
  .search_Box {
    width: 40%;
  }
  .Carousal_container {
    width: 100%;
    margin: auto;
  }
  .carousel img {
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-indicators {
    display: none;
  }
  .card_container {
    width: 10rem;
    height: 420px;
    border-bottom: 3px solid #eaeded;
  }
  .img_container {
    width: 90%;
    height: 150px;
  }
  .product_link {
    font-size: 9px !important;
    line-height: 15px !important;
  }
  h6 {
    font-size: 15px;
  }
  .card-component {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    margin: 10% auto;
  }
  .card-wrapper {
    margin: 5px;
  }
  .carousal {
    display: flex;

    overflow-y: hidden;
  }
  .carousel img {
    height: 200px;
    width: 100%;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel-inner {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .carousel-caption h3 {
    font-size: 12px;
  }

  .carousel-item {
    position: relative;
    display: none;
    float: left;
    min-width: 100%;
    margin-left: 10px;

    /* display: flex; */
    /* flex-direction: column; */
    margin-right: -100%;
    margin-left: 20px;
    margin-top: 70px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }

  .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 19px !important;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  .review_col {
    margin: 15px;
  }
  .writeReview_col {
    margin: 15px;
  }
  .postBtn {
    margin-top: 15px;
    font-size: 14px;
  }
  .product_image {
    width: 100%;
    height: 400px;
  }
  .btn-block {
    font-size: 12px;
  }
  .related_products {
    display: flex;
  }
  .productCardQty {
    margin-top: 10%;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .Review_heading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .description {
    font-size: 12px;
  }
  .relatedProduct_heading,
  .review_heading {
    font-size: 20px;
  }

  .favitem_container {
    padding: 10px;
    border-bottom: 1px solid #eaeded;
    width: 100%;
  }
  .favbtn_container_col {
    margin-top: 10px;
  }
  .fav_inner {
    width: 90%;
    margin: 5% auto;
    padding: 2px;
  }
  .cart_image {
    width: 80px;
    height: 70px;
  }
  .cart_heading {
    font-size: 10px;
  }
  .cart_label,
  .cart_price {
    font-size: 10px;
  }
  .selectBox {
    word-wrap: normal;
    background-color: #eaeded;
    border-radius: 5px;
    margin-left: 10px;
    padding: 1px;
    width: 50px;
    font-size: 10px;
  }
  .cartitem_deleteBtn,
  .cartitem_deleteBtn:hover {
    font-size: 10px;
    padding: 2px;
    display: flex;
    flex-direction: column;
  }
  .cartitem_deleteBtn:focus {
    border: none;
  }
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 0px;
  }

  .select_main {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 0;
    margin-top: 10px;
  }
  .profile_box {
    padding: 10px;
    width: 100%;
    margin: auto;
  }
  .profile_span {
    margin-left: 5px;
  }
  .profile_container {
    margin: 20px;
    background-color: #fff;
    padding: 12px;
    font-size: 13px;
    max-width: 100%;
  }
  .buttonProfile {
    background: linear-gradient(to right, #ff5d3b 0, #ff2c65 100%);
    color: #fff;
    padding: 8px;
    width: 50%;
    border: none;
  }
  .profile_Heading h2 {
    font-size: 20px;
  }
  .favImage-container-col {
    width: 40%;
  }
  .favImage {
    width: 60px;
    height: 60px;
  }
  .favText_container h2 {
    margin-top: 12px;
    font-size: 12px;
  }
  .fav_heading {
    margin-left: 15px;
    color: #818182;
  }
  .detail_box {
    position: relative;

    display: block;
    color: green;
    font-size: 16px;
    width: 300px;
    margin-left: 10px;
    float: left;
    border: 1px solid #c3c4c4;
    background-color: #f4f6f6;
    padding: 14px 18px;
    text-align: left;
    box-shadow: 4px 10px 10px 0px rgba(211, 208, 208, 0.75);
  }
  .zoom_img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
  }
  .Zoom_image {
    width: 200px;
    height: 300px;
  }
  .productDetail_Heading {
    font-size: 18px;
  }
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    min-width: 100%;
    margin-left: 0;

    margin-right: 0;

    margin-top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  .carousel img {
    height: 200px;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .Signup-form {
    padding: 20px;
    border: 1px solid #c3c4c4;
    width: 80%;
    margin: 5% auto;
  }
  .register_form {
    margin-top: 10%;
  }
  .icon_eye {
    position: absolute;
    top: 10px;
    left: 300px;
  }
}
